git+https://github.com/yt-dlp/yt-dlp/
pyrogram
TgCrypto==1.2.2
yt_dlp
youtube_dl
youtube_search_python
youtube_search
requests
ffmpeg-python
wget
psutil
youtube-dl
aiohttp
aiofiles
apscheduler
mutagen
pymongo
bs4
motor
Shazamio
Pillow
pytz
